<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Potwierdzenie</title>
    <meta http-equiv="refresh" content="5;url=/user/home" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = '/user/home';
        }, 5000);
    </script>
</head>
<body>
<div class="container">
    <h1>Zmiany zostały wprowadzone</h1>
    <p>Zmiany w Twoich danych zostały zapisane. Za chwilę zostaniesz przekierowany na stronę główną.</p>
</div>
</body>
</html>
