<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Podaj ID Adopcji do Usunięcia</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
</head>
<body>
<div class="container">
    <h1>Podaj ID Adopcji do Usunięcia</h1>
    <form th:action="@{/web/adoptions/getAdoptionForDelete}" method="get">
        <div>
            <label for="id">ID Adopcji:</label>
            <input type="number" id="id" name="id" required>
        </div>
        <div>
            <button type="submit">Usuń Adopcję</button>
        </div>
    </form>
</div>
</body>
</html>
